@media(min-width: 1366px) {}

@media(min-width:1200px) and (max-width:1365px) {}

@media(min-width:992px) and (max-width:1199px) {}

@media(min-width:768px) and (max-width:992px) {}

/* --------Tablet-------- */
@media (min-width:480px) and (max-width:768px) {

    /* Main */
    .margin-main {
        margin: 2.5rem 0 2rem;
    }

    .posts-columns-1 .post-wrapper,
    .posts-columns-3,
    .posts-columns-2 {
        grid-template-columns: none;
    }

    .posts-columns-1 .content-post {
        padding: 1.5rem 0 1rem;
    }

}

/* ---------Mobile-------- */
@media only screen and (min-width:240px) and (max-width:480px) {

    /* Header */
    nav {
        grid-template-columns: none;
    }

    .site-nav-right {
        display: none;
    }

    .banner-header {
        grid-template-rows: .5fr .1fr;
    }

    .banner-header .site-description {
        font-weight: 400;
        font-size: 1rem;
    }

    /* Main */
    .margin-main {
        margin: 2.5rem 0 1rem;
    }

    .posts-columns-1 .post-wrapper {
        grid-template-columns: none;
    }

    .posts-columns-1 .content-post {
        padding: 1.5rem 0 1rem;
    }

    .posts-columns-1 .content-post .title-post {
        font-size: 1.3rem;
    }

    .posts-columns-3 {
        grid-template-columns: none;
    }

    .posts-columns-2 {
        grid-template-columns: none;
    }

    /* Footer */
    .site-footer-content {
        grid-template-columns: none;
        justify-items: center;
    }

    .site-footer-nav {
        grid-template-columns: 1fr 1fr;
    }
}